{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tileserver
  annotations:
    # Nginx ingress ayarları (büyük haritalar için body size artırılabilir)
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"
    # Backend (Tileserver) HTTP konuştuğu için HTTPS zorlamasına gerek yok,
    # SSL terminasyonunu Ingress yapar.
spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: tileserver
                port:
                  number: {{ .Values.service.port }}
{{- end }}
